@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  align-content: center;
  justify-content: space-between;
  background-color: #15ffbc;
}
.nav-mobile__elm {
  display: flex;
  margin: 20px;
  font-size: 30px;
  text-decoration: none;
}

.nav-desktop {
  display: none;
}

.size-logo {
  width: 120px;
}

.burguer {
  font-size: 2rem;
  color: black;
}

.qui {
  font-size: 15px;
}

main {
  background-color: #15ffbc;
}

.main {
  width: 100%;
}

.main-car--images {
  width: 100%;
  height: 70vw;
  clip-path: polygon(0 31%, 100% 0%, 100% 69%, 0% 100%);
}

video {
  display: none;
}

.images-mustache {
  width: 50px;
  margin-top: 40px;
}

.images {
  width: 100%;
  clip-path: polygon(0 31%, 100% 0%, 100% 69%, 0% 100%);
}

.lorem1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: oswald;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.lorem-ipsum__amet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  align-content: center;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
}

.equis {
  font-weight: bold;
  align-items: center;
}

.lorem2-words {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
.lorem2-words__ipsum2 {
  font-family: oswald;
  letter-spacing: 5px;
}
.lorem2-words__dolor {
  margin: 20px;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration-line: underline;
}

.lorem3 .p-lorem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  align-content: center;
  align-items: center;
  font-family: oswald;
  font-size: 12px;
  letter-spacing: 3px;
  transform: rotate(-16deg);
  padding-bottom: 40px;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  align-items: center;
}

.footer__header {
  color: #15ffbc;
}
.footer__header .footer__header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  align-content: center;
  align-items: center;
  font-weight: lighter;
  font-family: oswald;
  font-size: 20px;
  letter-spacing: 5px;
  gap: 1rem;
}
.footer__header .footer__header-title--crossed {
  text-decoration: line-through;
  text-decoration-color: salmon;
}
.footer__header .footer__header-title--equis {
  font-size: 10px;
  justify-content: center;
  padding: 25px;
}

.footer-words {
  font-family: open-sans;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.footer-words--velit {
  color: salmon;
  text-decoration: line-through;
  text-decoration-color: salmon;
}
.footer-words > a {
  text-decoration: none;
  color: white;
}

.footer__items1--title,
.footer__items2--title,
.footer__items4--title,
.footer__items5--title,
.footer__items6--title {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: normal;
}
.footer__items1--green,
.footer__items2--green,
.footer__items4--green,
.footer__items5--green,
.footer__items6--green {
  text-align: center;
  color: #15ffbc;
  padding: 30px;
}

.footer__items3 {
  padding: 10px;
}
.footer__items3--title {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: normal;
}
.footer__items3--socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  align-content: center;
  align-content: space-between;
}

.icon {
  width: 4rem;
  padding: 10px;
}

@media (min-width: 600px) {
  .nav-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    align-content: center;
    align-items: center;
    align-content: space-between;
    gap: 20px;
    padding: 20px;
    font-family: oswald;
    color: black;
    letter-spacing: 5px;
    background-color: #15ffbc;
  }

  .nav-desktop .home:hover {
    cursor: pointer;
    color: salmon;
  }
  .nav-desktop .works:hover {
    cursor: pointer;
    color: salmon;
  }
  .nav-desktop .about:hover {
    cursor: pointer;
    color: salmon;
  }
  .nav-desktop .contacts:hover {
    cursor: pointer;
    color: salmon;
  }
  .nav-desktop img {
    cursor: default;
  }

  .lorem2-words__dolor:hover {
    cursor: pointer;
    color: salmon;
  }

  .lorem3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    align-content: center;
    text-align: center;
    padding-bottom: 20px;
  }

  .lorem3-images .p-lorem:hover {
    cursor: pointer;
    color: salmon;
  }
  .lorem3-images > img:hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 70%;
    transform: scale(1.1);
  }

  .footer .footer-header {
    display: none;
    letter-spacing: none;
  }
  .footer .section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    align-content: center;
    align-content: space-between;
  }
  .footer .section-bottom .footer__items1,
.footer .section-bottom .footer__items2 {
    text-align: start;
  }
  .footer .section-bottom .footer__items3 {
    margin-right: 1.5rem;
  }
  .footer .section-bottom .footer__items4,
.footer .section-bottom .footer__items5,
.footer .section-bottom .footer__items6 {
    text-align: end;
  }
  .footer .section-bottom .footer__items1--green:hover {
    cursor: pointer;
    color: salmon;
  }
  .footer .section-bottom .footer__items2--green:hover {
    cursor: pointer;
    color: salmon;
  }
  .footer .section-bottom .footer__items3--socialmedia {
    cursor: pointer;
    color: salmon;
  }
  .footer .section-bottom .footer__items4--green:hover {
    cursor: pointer;
    color: salmon;
  }
  .footer .section-bottom .footer__items5--green:hover {
    cursor: pointer;
    color: salmon;
  }
  .footer .section-bottom .footer__items6--green:hover {
    cursor: pointer;
    color: salmon;
  }

  .nav-mobile {
    display: none;
  }

  .main-video {
    display: flex;
    width: 100%;
    clip-path: polygon(0 31%, 100% 0%, 100% 69%, 0% 100%);
  }

  .main-car--images {
    display: none;
  }

  .footer-words {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
