* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "dongle", sans-serif;
}

@mixin flex() {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header {
    @include flex();
    background-color: mediumpurple;
    height: 100px;
    padding: 1rem;

    .page-title {
        font-size: 30px;
    }
    .header-menu {
        list-style-type: none;
        display: flex;
        column-gap: 10px;
        color: black;
    }
    &__list-lista {
        font-weight: bold;
    }
}

main {
    height: calc(100vh - 100px);
    .plus-comprados {
        background-color: rgb(201, 90, 49);
        height: 70px;
        @include flex();
    }
    .items {
        height: 100%;
        background-color: sandybrown;
    }
    .pan-check {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .items:hover {
        cursor: pointer;
    }

    .pan-check:hover {
        color: grey;
    }

    .azucar-check:hover {
        color: grey;
    }

    .leche-check:hover {
        color: grey;
    }
    .precio-total {
        border-top: white;
        display: flex;
        align-content: flex-start;
        justify-content: flex-end;
    }
}
