@use '../../../sass/_variables.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: variables.$primary-color;
    color: white;
}
