@use 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease all;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: variables.$secondary-color;
}
