.container {
    width: 295px;
    padding: 15px;
    background: #5614b0;
    background: -webkit-linear-gradient(to right, #dbd65c, #5614b0);
    background: linear-gradient(to right, #dbd65c, #5614b0);
    border: 2px solid #5614b0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    margin: auto;
    padding: 10px 5px;
}

.displaytop {
    display: block;
    color: black;
    text-align: right;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 5px;
    width: 270px;
    height: 20px;
    overflow: auto;
    margin: auto;
    background: #dbd65c; /* fallback for old browsers */
    border: 2px solid #5614b0;
    border-radius: 10px;
}

.display {
    display: block;
    color: black;
    text-align: right;
    font-size: 30px;
    font-weight: bolder;
    padding: 25px 5px;
    width: 270px;
    height: 40px;
    overflow: auto;
    margin: auto;
    background: #dbd65c; /* fallback for old browsers */
    border: 2px solid #5614b0;
    border-radius: 10px;
}

.button {
    padding-top: 10px;

    margin-top: 8px;
    margin-left: 8px;
    font-family: verdana;
    color: black;
    border: 2px solid #c5b30f;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    transition-duration: 0.4s;
}

.delete {
    font-size: 20px;
    font-family: verdana;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    background: #a73dd1;
}

.button:active {
    background-color: #dbd65c;
    box-shadow: 0 5px rgb(83, 83, 83);
    transform: translateY(4px);
}

footer {
    text-align: center;
    font-size: 8px;
    margin: auto;
    padding: 10px 5px;
}
