html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "oswald", sans-serif;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

header {
  padding: 1rem;
  background-color: #15ffbc;
}
header .navbarmenu {
  display: none;
}
header .navbarmobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-evenly;
  column-gap: 1rem;
}
header .navbarmobile__text {
  font-weight: 800;
}

.main {
  background-color: #15ffbc;
}
.main__media-vid {
  display: none;
}
.main .maintext {
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .maintext__paragraph {
  letter-spacing: 0.2rem;
  font-weight: 200;
  font-size: 4vw;
}
.main .maintext .mainicon {
  margin: 1rem;
}
.main .maintext__title {
  font-weight: 200;
  font-size: 6vw;
}
.main .icons-wave {
  width: 40px;
}
.main .maintext--caption {
  font-size: 3.5vw;
}

.footer {
  padding: 0px 100px 70px;
  background-color: black;
  color: white;
}
.footer .navbarmenu {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .navbarmenu .navbarmenu-item--active {
  text-decoration: line-through;
  color: #e95cb6;
}
.footer .footertitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 2rem;
}
.footer .footertitle__maintitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  height: 5rem;
  color: #15ffbc;
  font-size: 4vw;
  font-weight: 400;
}
.footer .footertitle__maintitle--active {
  text-decoration: line-through;
  text-decoration-color: #e95cb6;
}
.footer .footertext__container-2 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footertext__container-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footertext__container-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footertext__title {
  font-size: 3vw;
}
.footer .footertext__paragraph {
  font-family: oswald, sans-serif;
  font-size: 2vw;
  color: #15ffbc;
}
.footer .footertext__paragraph:hover {
  color: #e95cb6;
}
.footer .icons__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .icons__container .icons {
  font-size: 4vw;
  color: #15ffbc;
  margin: 1vw;
}
.footer .icons__container .icons__f:hover {
  color: #e95cb6;
}
.footer .icons__container .icons__i:hover {
  color: #e95cb6;
}
.footer .icons__container .icons__v:hover {
  color: #e95cb6;
}

@media (min-width: 600px) {
  .header .navbarmobile {
    display: none;
  }
  .header .navbarmenu {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
  }
  .header .navbarmenu-item {
    text-decoration: none;
    color: black;
  }
  .header .navbarmenu-item:hover {
    color: #e95cb6;
  }

  .main__media {
    overflow: hidden;
    width: 100%;
    height: 35vh;
  }
  .main__media-vid {
    display: flex;
  }
  .main__media-img {
    display: none;
  }
  .main .maintext {
    padding: 3rem;
  }
  .main .maintext__paragraph {
    font-size: 2vw;
  }
  .main .maintext__title {
    font-size: 3.5vw;
  }
  .main .photo__container {
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  .main .maintext--caption {
    font-size: 2vw;
  }

  .footer .footertitle__maintitle {
    font-size: 3vw;
  }
  .footer .navbarmenu {
    display: none;
  }
  .footer .footertext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .footertext__container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .footertext__container-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .footertext__container-d {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer .footertext__title {
    font-size: 1.5vw;
  }
  .footer .footertext__paragraph {
    font-size: 1vw;
  }
}

/*# sourceMappingURL=styles.css.map */
